<div class="user_container">
  <nav><%= link_to "Home", users_path(@user), class: "link" %></nav>
  <br>
  <div>
    <img src = "<%= @user.photo %>" alt= "User image">
  </div>
  <div class="user-info">
    <h1><%= @user.name %></h1>
    <p><strong>Number of posts:</strong> <%= @user.posts_counter %></p>
  </div>
  <strong><p>Bio</p></strong>
  <p><%= @user.bio %></p>
  <%= link_to "Create Post", new_post_path, class: "link" %>
  <h2>Posts</h2>
  <% @user.recent_posts.each do |post| %>
    <div class= 'post_container'>
      <h3><%= post.title%></h3>
      <p><%= post.text%></p>
      <p><strong>Comments:</strong> <%= post.comments_counter%></p><p><strong>Likes:</strong> <%= post.likes_counter%></p>
    </div>
    <hr>
  <% end %>
</div>
<button class="button">
  <%= link_to "See all posts", user_posts_path(@user) %> 
</button>   


