<div class="comments-container"> 
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
<p>Likes: <%= @post.likes_counter%><p>
<%= form_with url: "/users/#{@user.id}/posts/#{@post.id}/likes" do |liked|%>
  <%= liked.submit "Like Post", class: "like_button"%>
<%end%>

<%= render "comments/form" %>

